.carousel-control-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 70px;
    margin-left: 400px;
    width: 45px;
    height: 45px;
    }
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    align-items: center;
    margin-right: 400px;
    justify-content: center;
    padding: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.close-button:hover {
    color: #f00;
}
.carousel {
  position: relative;
  padding-top: 63%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  font-size: 2em;
}
.carousel__snapper {
  scroll-snap-align: center;
}
.carousel__snapper img{
  height: 300px
}
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel__navigation-button {
  display: inline-block;
  background-clip: content-box;
  transition: transform 0.1s;
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  transform: translateY(-50%);
}
.carousel::before,
.carousel__prev {
  left: -1rem;
}
.carousel::after,
.carousel__next {
  right: -1rem;
}
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}
